<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon"/>
    </div>

    <form [formGroup] = "form"  (ngSubmit)="onLogin()">
      <fa-icon [icon]="faUserAlt"></fa-icon>
      <input id="email" type="email" name="email" formControlName="email" autocomplete="off" class="fadeIn second" placeholder="correo electrónico">
      <fa-icon [icon]="faLock"></fa-icon>
      <input id="password" type="password" name="password" formControlName="password" class="fadeIn third" placeholder="contraseña">
      <fa-icon [icon]="faEyeSlash"></fa-icon>
      <p *ngIf="error" class="error">{{errorMessage}}</p>
      <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
    </form>
  </div>
</div>