<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon"/>
    </div>

    <form [formGroup] = "form"  (ngSubmit)="onLogin()">
      <fa-icon [icon]="faUserAlt"></fa-icon>
      <input type="email" formControlName="email" id="email" class="fadeIn second" placeholder="correo electrónico" name="email">
      <fa-icon [icon]="faLock"></fa-icon>
      <input type="password" formaControlPassword="password" id="password" class="fadeIn third" placeholder="contraseña" name="password">
      <fa-icon [icon]="faEyeSlash"></fa-icon>
      <p *ngIf="error" class="error">{{errorMessage}}</p>
      <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
    </form>
  </div>
</div>