<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
    integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<p class="title">Usuarios</p>
<div class="tableUser">
    <table>
        <thead>
            <tr>
                <th class="email">Correo</th>
                <th class="rolT">Admin</th>
                <th class="editar">Editar</th>
                <th class="delete">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
                <!-- | paginate: { itemsPerPage: 5, currentPage: p }, index as i -->
                <!-- <td>{{i + 1}}</td> -->
                <td class="email">{{user.email}}</td>
                <td class="rol">{{user.roles.admin ? '✅': '❌'}}</td>
                <td class="editar">
                    <button (click)="showEdit(user)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                </td>
                <td class="delete">
                    <button (click)="deleteUser(user._id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>
<app-modal-user [editUser]="myModalEdit" (close)="closeEdit($event)" (show)="showUsers()" [user]="user"></app-modal-user>