.title {
  color: #980b0b;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
input[type="button"] {
  border-radius: 30px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #dd3b30;
  cursor: pointer;
  width: 162px;
  height: 70px;
  border: none;
}
input[type="button"]:hover {
  color: #dd3b30;
  background-color: #ffffff;
  border: solid 1px #dd3b30;
  transition: 0.5s;
}
.buttons {
  padding: 50px;
}
.img {
  display: flex;
  justify-content: flex-end;
  transform: translate(-100px, -70px);
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .img {
    transform: translate(-100px);
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .img {
    transform: translate(-100px);
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  img {
    width: 40%;
    transform: translate(10px, 40px);
  }
}
