<section class="modal" *ngIf="showOneOrder">
  <div class="modal_content">
    <div class="view-order">
      <div class="headerModal">
        <span class="closeModal" (click)="closeModal()">&times;</span>
      </div>
      <h2>Orden</h2>
        <div class="form">
          <label for="name">Nombre: </label>
          <input type="text" class="client" [(value)]="order.client" readonly>
          <label for="name">Estado de orden: </label>
          <input type="text" class="status" [(value)]="order.status" readonly>
          <label for="name">Listado de productos: </label>
          <div *ngFor="let product of order.products" class="products">
            <label for="name" class="product-label">Producto: </label>
            <input type="text" class="name" [(value)]="product.product" readonly>
            <label for="name" class="product-label">Cantidad: </label>
            <input type="text" class="qty" [(value)]="product.qty" readonly>
          </div>
        </div>
        <div class="cancel-save">
          <button type='button' (click)="updateStatus(order)" class="cancel">Cancelar orden</button>
        </div>
    </div>
  </div>
</section>