<app-header></app-header>
<div class="title">
    <p>Agregar nuevo producto</p>
</div>
<section class="form-section">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div>
            <label for="nameProduct">Nombre: </label>
            <input formControlName="name" type="text" name="nameProduct">
        </div>
        <div>
            <label for="priceProduct">Precio: </label>
            <input formControlName="price" type="number" name="priceProduct">
        </div>


        <div class="inputFile">
            <label for="imgProduct">Imagen:</label>
            <input formControlName="image" type="file" name="imgProduct">
        </div>

        <div>
            <label for="typeProduct">Tipo: </label>
            <input formControlName="type" type="text" name="typeProduct" id="">
        </div>
        <input type="submit" value="Guardar" class="saveProduct">
    </form>
    <div class="show-products">
        <input type="submit" class="productButton" value="Ver lista de productos" (click)="btnViewProducts()">
    </div>
</section>