<app-header></app-header>
<p class="title">Ordenes</p>
<div class="container">
  <div class="buttons">
    <button type="submit" (click)="filterStatus('pending')">Pendientes</button>
    <button type="submit" (click)="filterStatus('canceled')">Cancelados</button>
    <button type="submit" (click)="filterStatus('preparing')">Preparando</button>
    <button type="submit" (click)="filterStatus('delivering')">Entregando</button>
    <button type="submit" (click)="filterStatus('delivered')">Entregados</button>
  </div>
  <div class="table-orders">
    <table>
      <thead>
        <tr>
          <th class="orders">Ordenes</th>
          <th class="name-client">Nombre de cliente</th>
          <th class="status">Estado</th>
          <th class="typeProduct">Actualizar estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders, index as i">
          <td class="orders-buttom">
            <button>Orden Nº {{i+1}}</button>
          </td>
          <td class="name"> {{order.client}}</td>
          <td class="status"> {{order.status}}</td>
          <button name="status" (click)="updateStatus(order)">Cambiar estado</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
