*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding:0;
    margin: 0;
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .title{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    padding-top: 50px;
  }
  .tableUser{
      display: flex;
      justify-content: center;
  }
  table{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 100px;
    font-size: 18px;
  }
  tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 ;
    font-size: 20px;
  }
  
    .nameProduct {
    width: 250px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1pt solid black;
   }
   button{
    background-color: transparent;
    border: none;
    color: #DD3B30;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 3px;
   }
  .editar, .delete, .priceProducto, .imgProduct , .typeProduct{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1pt solid black;
  }
  .img{
    display: inline-flex;
    justify-content: flex-end;
    transform: translate(780px, 150px);
  }
