.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-top: 50px;
}
.tableProduct {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
}
tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0;
  font-size: 20px;
}
.my-pagination {
  padding-top: 50px;
  align-self: center;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: red;
}

.nameProduct {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1pt solid black;
  text-align: center;
}
button {
  background-color: transparent;
  border: none;
  color: #dd3b30;
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 3px;
}
.editar,
.delete,
.priceProducto,
.imgProduct,
.typeProduct {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1pt solid black;
}
.typeProduct {
  width: 150px;
}
.imgProduct {
  width: 80px;
  height: 50px;
}
img {
  width: 30px;
}
.img {
  display: inline-flex;
  justify-content: flex-end;
  transform: translate(780px, 150px);
}
