<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ribeye&display=swap" rel="stylesheet">
<section class="header">
    <div class="logo-container">
      <a class="logo"><img src="../../../assets/logo-header.png" /></a>
      <h2 class="title">Burger Queen</h2>
    </div>
    <div class="icons">
      <nav class="navDesktop">
        <a class="home-icon"><img class="icon-header" src="../../../assets/home.svg" alt="home" (click)="btnHome()"/></a>
        <a class="profile-icon"><img class="icon-header" src="../../../assets/profile.svg" alt="profile" (click)="btnProfile()"/></a>
        <a id="close"><img class="icon-header" src="../../../assets/logout.svg" alt="logout" (click)="btnLogout()"/></a>
      </nav>
    </div>
</section>